@import '../../../styles//colors';
@import '../../../styles//variables';

.LocationCard {
  display: block;
}

.locationImage {
  height: 300px;
}

// CSS FOR THE HOVER EFFECT USED ON THE LOCATION CARDS STARTS HERE:
// Main Classes first:

.view {
  width: 400px;
  height: 300px;
  margin: 10px;
  float: none;
  border: 10px solid $lightPink;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px $lightPink;
  cursor: default;
  background: $lightPink url(https://previews.123rf.com/images/denisbelitsky/denisbelitsky1707/denisbelitsky170700023/81440809-modern-high-speed-commuter-train-on-the-railway-station-and-colorful-sky-with-clouds-at-sunset-in-eu.jpg) no-repeat center center
}
.view .mask, .view .content {
  width: 400px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.view img {
  display: block;
  position: relative
}
.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: $bigFonts;
  padding: 10px;
  background: rgba(136, 136, 136, 0.8);
  margin: 20px 0 0 0
}
.view h4 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 20px;
  font-family: $bigFonts;
  position: relative;
  color: black;
  padding: 10px 20px 20px;
  text-align: center
}
.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  font-family: $allFonts;
  position: relative;
  color: black;
  padding: 10px 20px 20px;
  text-align: center
}
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}
.view a.info:hover {
  box-shadow: 0 0 5px #000
}

// HOVER EFFECT-SPECIFIC CLASSES NEXT:
.view-first img { 
  transition: all 0.9s linear;
}
.view-first .mask {
  opacity: 0;
  background-color: rgba(255,232,223, 0.7); 
  transition: all 0.9s ease-in-out;
}
.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.view-first h4, p { 
  transform: translateY(100px);
  opacity: 0;
transition: all 0.5s linear;
}
.view-first a.info{
  opacity: 0;
transition: all 0.5s ease-in-out;
}

// TRANSITION AND DELAY:
.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover h4,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover h4, p {
    transition-delay: 0.5s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
